body{
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.container{
    display: flex;
    gap: 5px;
    
    flex-wrap: nowrap;
    flex-direction: column;
    width: 40%;
    /* height: 100vh; */
    margin: auto;
    padding: 10px;
    text-align: left;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container h1{
    text-align: center;
}
.container input,.container select{
    width: 90%;
    height: 45px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: auto;
}
.container p{
    
    font-weight: 500;
    font-size: 19px;
    margin-left: 30px;
    margin-bottom: -2px;
}
.container button{
    width: 130px;
    margin: auto;
    margin-left: 30px;
    margin-top: 10px;
    
}