.table {
    width: 95vw;
    margin:auto;
    height: auto;
    border-collapse:collapse;
    table-layout:fixed;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 40px;
    /* margin-top: 40px;
    margin-bottom: 40px; */
    background-color: white;
    
}

.table tr {
    border-bottom: 1px solid grey;
    text-align: center;
    height: 60px;
    
}

.table th{
    font-weight: bolder;
    font-size: 1.2em;
    padding: 4px 0 8px 0;
}

.table tbody {
    font-weight: 500;
}

.table td {
    padding: 2px 0 8px 0;
   
}